<section class="modal-overlay" id="overlay">
    <div class="modal_delete scroll" id="modal">
        <div class="modal-header">
            <h2 class="titulo">Deletar monstro?</h2>
            <a href="/" id="close-modal-put"><i class="bi bi-x"></i></a>
        </div>
        <div class="modal-body-delete">
            <p>Deseja excluir o monstro <%= monstroDel.nome %>  </p>
            <div id="botao-Delete">
                <a id="no" href="/">Não...</a>
                <a id="yes" href="/remove/<%= monstroDel.id %>">SIM!</a>
            </div>
        </div>
    </div>
</section>
