@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
    font-size: 14px;
    font-family: 'Sora', sans-serif;
}

h1 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    height: 10%;
    background-color: #f2f2f2;
    align-items: center;
    padding: 0 10px;
}
  
header a {
    height: 100%;
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 16px;
}

header ul a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

header ul a li {
    font-size: 20px;
    padding: 20px 0;
}

header a:hover {
    color: #800000;
}

header a img#logo {
    height: 100%;
    padding: 0 20px 0 0;
}

body {
    height: 100vh;
    width: 100vw;
}

main {
    min-height: 80%;
    padding: 15px;
    padding: 30px;
}

div#teste {
    min-height: 100%;
    background-color: #906faf79;
    padding: 40px 40px 70px 40px;
    margin: 50px;
    border-radius: 100px;
    
}

section#monster {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding-top: 20px;
}


article.card {
    height: 300px;
    width: 200px;
    border: 1px solid #ccc;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.275);
    border-radius: 40px;
}

article.card div.img_monstro {
    height: 70%;
}

article.card div.img_monstro img {
    height: 100%;
    width: 100%;
}

article.card div.back_detalhes {
    height: 70%;
}

article.card {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /* */
}

div.nome_monstro {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: bold;
}

td.verificacao{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.verificacao{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px 0 5px 0;
}

article.card div.tipo_monstro {
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: center;
    align-items: center;
  }

article.front {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    /* */
}

article.back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    position: absolute;
    right: 0;
    left: 0;
    top: 0px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    /* */
}

article.flip {
    -webkit-transition: transform 0.6s;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    /* */
}

.flip.virar {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    /* */
}

.flip#fraco {
    background-color: #7e7e7e;
    border-radius: 40px;
}

#fraco .front:hover {
    border: 1px solid #000;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    transform: scale(1.1);
    cursor: pointer;
    background-color: #7e7e7e;
}

#fraco .back:hover {
    transform: scale(1.1) rotateY(180deg);
    background-color: #7e7e7e;
    border: 1px solid #000;
    cursor: pointer;
}

.flip#mediano {
    background-color: #00aa4c;
    border-radius: 40px;
}

#mediano .front:hover {
    border: 1px solid #000;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    transform: scale(1.1);
    cursor: pointer;
    background-color: #00aa4c;
}

#mediano .back:hover {
    transform: scale(1.1) rotateY(180deg);
    background-color: #00aa4c;
    border: 1px solid #000;
    cursor: pointer;
}

.flip#forte {
    background-color: #008cbe;
    border-radius: 40px;
}

#forte .front:hover {
    border: 1px solid #000;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    transform: scale(1.1);
    cursor: pointer;
    background-color: #008cbe;
}

#forte .back:hover {
    transform: scale(1.1) rotateY(180deg);
    background-color: #008cbe;
    border: 1px solid #000;
    cursor: pointer;
}

.flip#muito_forte{
    background-color: #ac00e6;
    border-radius: 40px;
}

#muito_forte .front:hover {
    border: 1px solid #000;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    transform: scale(1.1);
    cursor: pointer;
    background-color: #ac00e6;
}

#muito_forte .back:hover {
    transform: scale(1.1) rotateY(180deg);
    background-color: #ac00e6;
    border: 1px solid #000;
    cursor: pointer;
}

.flip#ameaca {
    background-color: #db9e1c;
    border-radius: 40px;
}

#ameaca .front:hover {
    border: 1px solid #000;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    transform: scale(1.1);
    cursor: pointer;
    background-color: #db9e1c;
}

#ameaca .back:hover {
    transform: scale(1.1) rotateY(180deg);
    background-color: #db9e1c;
    border: 1px solid #000;
    cursor: pointer;
}

.flip#cataclisma {
    background-color: #ffd700;
    border-radius: 40px;
}

#cataclisma .front:hover {
    border: 1px solid #000;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    transform: scale(1.1);
    cursor: pointer;
    background-color: #ffd700;
}

#cataclisma .back:hover {
    transform: scale(1.1) rotateY(180deg);
    background-color: #ffd700;
    border: 1px solid #000;
    cursor: pointer;
}

article.card a {
    text-decoration: none;
}

article.card a:hover{
    color: #800000;
}

section.container {
    max-width: 960px;
    margin: 0 auto;
    display: grid;
    padding: 0 20px 0 20px;
    gap: 16px;
    grid-template-areas: 
    "more side";
    justify-content: center;
}

section.container div#img {
    width: 17em;
}

section.container div#img img {
    height: 100%;
    width: 100%;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    background-color: rgb(238, 237, 237);
}

.tabcontent p {
    max-width: 60ch;
    text-indent: 1em;
}

div#name {
    background-color: #ddd;
    border-radius: 5px;
    border: 1px solid rgb(20, 12, 12);
    text-align: center;
    margin-top: 10px;
    word-wrap: break-word;
}

div#side.si_fraco{
    max-width: 280px;
    border-radius: 5px;
    background-color: #7e7e7e;
    padding: 5px;
}

div#side.si_mediano{
    max-width: 280px;
    border-radius: 5px;
    background-color: #00aa4c;
    padding: 5px;
}

div#side.si_forte{
    max-width: 280px;
    border-radius: 5px;
    background-color: #008cbe;
    padding: 5px;
}

div#side.si_muito_forte{
    max-width: 280px;
    border-radius: 5px;
    background-color: #ac00e6;
    padding: 5px;
}

div#side.si_ameaca{
    max-width: 280px;
    border-radius: 5px;
    background-color: #db9e1c;
    padding: 5px;
}

div#side.si_cataclisma{
    max-width: 280px;
    border-radius: 5px;
    background-color: #ffd700;
    padding: 5px;
}

#more {
    max-width: 660px;
    min-width: 230px;
    border-radius: 20px;
}

@media(max-width: 700px){
    section.container {
        max-width: 960px;
        margin: 0 auto;
        display: grid;
        grid-template-areas: 
        "more"
        "side";
    }

    #more{
        order: 1;
        max-width: 660px;
        min-width: 230px;
        border-radius: 20px;
    }
}

table {
    text-align: center;
    width: 280px;
}

table td, table th {
    border: 1px solid rgb(20, 12, 12);
    background-color: #ddd;
    border-radius: 15px;
    padding: 2px 0;
}

table.tabela_index {
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-top: 20px;
}

section.cadastro {
    max-width: 1200px;
    border: 1px solid rgb(20, 12, 12);
    margin: 0 auto;
}

footer {
    display: flex;
    height: 10%;
    background-color: #f2f2f2;
    align-items: center;
    padding: 0 10px;
}